
    <div class="row pt-3">
        <div class="col-12" >
            <div class="d-flex justify-content-between">
                
                    <h4 class="fw-bold">TABLERO SPRINT  N° {{numeroSprint}} - {{nombreProyecto.toUpperCase()}} </h4>   <button class="btn btn-primary">CERRAR SPRINT</button>
                
            </div>

            
        </div>

    </div>

    <div class="row  pb-2">
        <div class="col-12">
            <div class="d-flex">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Nueva Tarea
                </button>

            </div>
        </div>
    </div>

    <div class="row pt-1">
        
        <div class="col-md-3" id="3">

            <div class="card border-success mb-3 p-1" style="background: #F4F5F7;" >
                <div class="card-header bg-transparent border-success"><span class="fw-bold" style="color: #717171;">PARA HACER</span> {{todo.length}} <i class="bi bi-filter float-end" style="cursor: pointer;"></i> </div>

                    <div class="card-body ticket-bg border" 
                    cdkDropList
                    class="example-list" 
                    id="list-todo"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="['list-progress','list-review']"
                    (cdkDropListDropped)="drop($event)">
    
                        <div draggable="true" *ngFor="let subtarea of todo" cdkDrag class="card-Body-Hover py-3 px-2 rounded-1 task"
                            style="border-bottom: 1px #362F29 solid; cursor: pointer;"
                            id="1"
                            (dblclick)="open(content,subtarea)">
                            
                            <div class="my-1 fw-bold"> {{subtarea.tarea.nombre}} / {{subtarea.nombre}}</div>

                            <div class="row">
                                <div class="col">
                                    {{subtarea.descripcion}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span class="badge text-bg-danger">{{subtarea.prioridad}}</span>
                                </div>
                                <div class="col-9 text-end">
                                    <p class="text-muted space-font m-0">
                                        {{subtarea.responsable.responsable.nombres +' '+subtarea.responsable.responsable.apellidos}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-end"><span>4
                                        hrs</span></div>
                            </div>
    
                        </div>
                
                    </div>

              </div>
        </div>

        <div class="col-md-3" id="2">

            <div class="card border-success mb-3 p-1" style="background: #F4F5F7;" >
                <div class="card-header bg-transparent border-success "> <span class="fw-bold" style="color: #717171;">EN PROCESO  </span>   {{progress.length}} <i class="bi bi-filter float-end" style="cursor: pointer;"></i>
                    </div>

                    <div class="card-body ticket-bg border" 
                    cdkDropList
                    class="example-list" 
                    id="list-progress"
                    [cdkDropListData]="progress"
                    [cdkDropListConnectedTo]="['list-todo','list-done','list-review']"
                    (cdkDropListDropped)="drop($event)"><!---->
    
                        <div draggable="true" *ngFor="let subtarea of progress" cdkDrag class="card-Body-Hover py-3 px-2 rounded-1 task"
                            style="border-bottom: 1px #362F29 solid;"
                            id="1">
                            
                            <div class="my-1 fw-bold"> {{subtarea.tarea.nombre}} / {{subtarea.nombre}}</div>

                            <div class="row">
                                <div class="col">
                                    {{subtarea.descripcion}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span class="badge text-bg-danger">{{subtarea.prioridad}}</span>
                                </div>
                                <div class="col-9 text-end">
                                    <p class="text-muted space-font m-0">
                                        {{subtarea.responsable.responsable.nombres +' '+subtarea.responsable.responsable.apellidos}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-end"><span>4
                                        hrs</span></div>
                            </div>
    
                        </div>
                
                    </div>
              </div>

        </div>

        <div class="col-md-3" id="1" >

            <div class="card border-success mb-3 p-1" style="background: #F4F5F7;" >

                <div class="card-header bg-transparent border-success"><span class="fw-bold" style="color: #717171;">EN REVISION </span> {{review.length}} <i class="bi bi-filter float-end" style="cursor: pointer;"></i></div> 

                    <div class="card-body ticket-bg border" 
                    cdkDropList
                    class="example-list" 
                    id="list-review"
                    [cdkDropListData]="review"
                    [cdkDropListConnectedTo]="['list-todo','list-done','list-progress']"
                    (cdkDropListDropped)="drop($event)"><!---->
    
                        <div draggable="true" *ngFor="let subtarea of review" cdkDrag class="card-Body-Hover py-3 px-2 rounded-1 task"
                            style="border-bottom: 1px #362F29 solid;"
                            id="1">
                            
                            <div class="my-1 fw-bold"> {{subtarea.tarea.nombre}} / {{subtarea.nombre}}</div>

                            <div class="row">
                                <div class="col">
                                    {{subtarea.descripcion}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span class="badge text-bg-danger">{{subtarea.prioridad}}</span>
                                </div>
                                <div class="col-9 text-end">
                                    <p class="text-muted space-font m-0">
                                        {{subtarea.responsable.responsable.nombres +' '+subtarea.responsable.responsable.apellidos}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-end"><span>4
                                        hrs</span></div>
                            </div>
    
                        </div>
                
                    </div>
              </div>
        </div>

        <div class="col-md-3" id="1" >

            <div class="card border-success mb-3 p-1" style="background: #F4F5F7;" >
                <div class="card-header bg-transparent border-success"><span class="fw-bold" style="color: #717171;">HECHO </span> {{done.length}} <i class="bi bi-filter float-end" style="cursor: pointer;"></i></div>

                    <div class="card-body ticket-bg border" 
                    cdkDropList
                    class="example-list" 
                    id="list-done"
                    [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="['list-progress','list-review']"
                    (cdkDropListDropped)="drop($event)"><!---->
    
                        <div draggable="true" *ngFor="let subtarea of done" cdkDrag class="card-Body-Hover py-3 px-2 rounded-1 task"
                            style="border-bottom: 1px #362F29 solid; opacity: 50%;"
                            id="1"
                            [cdkDragDisabled]="true">
                            
                            <div class="my-1 fw-bold"> {{subtarea.tarea.nombre}} / {{subtarea.nombre}}</div>

                            <div class="row">
                                <div class="col">
                                    {{subtarea.descripcion}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <span class="badge text-bg-danger">{{subtarea.prioridad}}</span>
                                </div>
                                <div class="col-9 text-end">
                                    <p class="text-muted space-font m-0">
                                        {{subtarea.responsable.responsable.nombres +' '+subtarea.responsable.responsable.apellidos}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-end"><span>4
                                        hrs</span></div>
                            </div>
    
                        </div>
                
                    </div>
              </div>
        </div>
    
   </div>

     <!-- Modal Nueva tarea -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Tarea</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">

                <form *ngIf="!nuevaTarea">

                    <div class="form-group">
                        <label for="">Tarea</label>
                        <div class="row">
                            <div class="col-md-11">
                                <select  class="form-select form-select-sm" aria-label="Default select example">
                                    <option value="">Seleccione una tarea...</option>
                                    <option *ngFor="let tarea of tareas" value="{{tarea.id}}">{{tarea.nombre}}</option>
                                </select>
                            </div>   
                            <div class="col-md-1">
                                <button class="btn btn-success btn-sm" (click)="guardarTarea()">+</button>
                            </div>
                        </div>
                    </div>

                    <hr/>
                    <label>Sub-tarea</label>

                    <div class="form-group mt-2">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Ingrese una subtarea">
                    </div>

                    <div class="form-group mt-2">
                        <label for="">Descripcion</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="form-group mt-2">
                        <label for="">Responsable</label>
                        <select  class="form-select form-select-sm" aria-label="Default select example">
                            <option value="">Seleccione un responsable...</option>
                            <option *ngFor="let usuario of usuarios" value="{{usuario.id}}">{{usuario.responsable.nombres +' '+ usuario.responsable.apellidos}}</option>
                        </select>
                    </div>

                    <div class="form-group mt-2">
                        <label for="">Apoyo</label> &nbsp; <input type="checkbox" class="btn mb-1" (click)="activarApoyo()"/>
                        <select  class="form-select form-select-sm" aria-label="Default select example" [disabled]="disabledSelectApoyo">
                            <option value="">Seleccione un apoyo...</option>
                            <option *ngFor="let usuario of usuarios" value="{{usuario.id}}">{{usuario.responsable.nombres +' '+ usuario.responsable.apellidos}}</option>
                           
                        </select>
                    </div>

                    <div class="form-group mt-2">
                            <label for="tiempoEmpleadoPlanificado">Tiempo empleado (Planificado)</label>
                            <div class="input-group">
                                <input
                                    id="tiempoEmpleadoPlanificado"
                                    class="form-control form-control-sm"
                                    placeholder="yyyy-mm-dd"
                                    name="dp1"
                                    ngbDatepicker
                                    #dp1="ngbDatepicker"
                                />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp1.toggle()" type="button"></button>
                            </div>
                        
                    </div>

                    <div class="form-group mt-2">
                        <label for="tiempoEmpleadoReal">Tiempo empleado (Real)</label>
                        <div class="input-group">
                            <input
                                id="tiempoEmpleadoReal"
                                class="form-control form-control-sm"
                                placeholder="yyyy-mm-dd"
                                name="dp2"
                                ngbDatepicker
                                #dp2="ngbDatepicker"
                            />
                            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp2.toggle()" type="button"></button>
                        </div>
                    </div>

                </form>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="guardarSubtarea()">Guardar</button>
        </div>
      </div>
    </div>
  </div>


  <ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>